In [9]:
import pandas as pd
list =   [['Martinez', 'Iglesias', 21, 'male'], 
        ['Emily', 'Clarkson', 30, 'female'],
        ['Michael', 'Leclark', 17, 'male'], 
        ['Rebecca', 'McBrain', 25, 'female'], 
        ['Paul', 'Walker', 28, 'male']]
data_col = pd.DataFrame(list, columns = ['name', 'surname', 'age', 'sex'])
#data_col
#data_col.info()
#data_col.describe()
data_col.head(3)

       name   surname  age     sex
0  Martinez  Iglesias   21    male
1     Emily  Clarkson   30  female
2   Michael   Leclark   17    male