$Marcin$
$Ryznar$
$GrL 1$

Dane do połączenia do bazy zdalnej
- host: pgsql-196447.vipserv.org
- port: 5432
- login: wbauer_adb
- hasło: adb2020
- nazwa_bazy: wbauer_adb

In [1]:
from sqlalchemy import create_engine
import psycopg2 as pg
import pandas as pd

#Łączenie się za pomocą sqpAlchemy
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

connection_sqlalchemy = db.connect()

result_set = db.execute("SELECT * FROM city")  
# for r in result_set:  
#     print(r)

In [2]:
#Łączenie się za pomocą psycopg2 i pandas
connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')
df = pd.read_sql('select * from city',con=connection)
# print(df)

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Ćwiczenie

Wykonaj zapytania za pomocą skryptów pythona:

1. Ile kategorii filmów mamy w wypożyczalni?

In [3]:
#W tym przykładzie staram sie wykorzystać połączenie za pomocą pandas
#Na początku wybieram kategorię oraz wymagam, aby wyświetlała się tylko kolumna 'category_id'.
#Następnie sortuję malejąco kolumnę i wybieram pierwszy wiersz, w wyniku czego otrzymuję liczbę kategori filmów w wypożyczalni
df = pd.read_sql('select category_id from film_category order by category_id desc limit 1',con=connection)
print('Ilość kategorii filmów w wyporzyczalni wynosi:\n', df)

Ilość kategorii filmów w wyporzyczalni wynosi:
    category_id
0           16

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

2. Wyświetl listę kategorii w kolejności alfabetycznej.

In [4]:
#W tym przykładzie staram sie wykorzystać połączenie za pomocą pandas
#Co ciekawe bez części 'order by name asc', kolumna i tak zostaje posortowana alfabetycznie. 
#Jednak zostawiam tą część kody aby faktycznie pozostała zachowana poprawność zapisu
#Jeśli zamiast 'asc' wpisalbym 'desc', otrzymałbym kolumne posortowaną od Z-A
df = pd.read_sql('select name from category order by name asc ',con=connection)
print(df)

           name
0        Action
1     Animation
2      Children
3      Classics
4        Comedy
5   Documentary
6         Drama
7        Family
8       Foreign
9         Games
10       Horror
11        Music
12          New
13       Sci-Fi
14       Sports
15       Travel

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

3. Znajdź najstarszy i najmłodszy film do wypożyczenia.

In [5]:
#Ten przykład wykonuję podobnie do zadania 1 jednak, aby wybrać najstarszy film sortuje kategorie malejąco i wybieram pierszy wiersz."
df = pd.read_sql('select release_year from film order by release_year desc limit 1',con=connection)
print('Najstarszy film do wypożyczenia: \n', df)

#Ten przykład wykonuję podobnie do zadania 1 jednak, aby wybrać najmłodszy film sortuje kategorie rosnąco i wybieram pierszy wiersz."
dx = pd.read_sql('select release_year from film order by release_year asc limit 1',con=connection)
print('\nNajmłodszy film do wypożyczenia: \n', dx)

#Wynik pokazuje iż wszystkie filmy są z 2006 roku
#można zapisać to w szybszy sposób za pomocą distinct, gdzie usunie wszystkie zduplikowane wartości
dy = pd.read_sql('select distinct release_year from film',con=connection)
print('\nZa pomocą disctinct\n', dy)

Najstarszy film do wypożyczenia:
    release_year
0          2006

Najmłodszy film do wypożyczenia:
    release_year
0          2006

Za pomocą disctinct
    release_year
0          2006

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

4. Ile wypożyczeń odbyło się między 2005-07-01 a 2005-08-01?

In [13]:
#Ten przyklad wykonuje za pomoca składni sqpAlchemy, gdzie przeciwienstwie do pandas daty nie wyswietlaja sie w tabeli
result_set = db.execute("SELECT rental_date FROM rental WHERE rental_date BETWEEN '2005-07-01' AND '2005-08-01'")  

#pętla for wyświetli wszystkie wyniki
# for r in result_set:  
#     print(r)

#Ilość wypożyczeń
print("Ilosc wypozyczen miedzy 2005-07-01 a 2005-08-01: ", len(str(result_set)))

Ilosc wypozyczen miedzy 2005-07-01 a 2005-08-01:  74

5. Ile wypożyczeń odbyło się między 2010-01-01 a 2011-02-01?

In [15]:
#Ten przyklad wykonuje za pomoca składni sqpAlchemy, gdzie przeciwienstwie do pandas daty nie wyswietlaja sie w tabeli
result_set= db.execute("SELECT rental_date FROM rental WHERE rental_date BETWEEN '2010-01-01' AND '2011-02-01'")  
for r in result_set:  
    print(r)
#Wybrany przedzial się nie wyswietla, wiec sprawdzam najnowsza date:
df = pd.read_sql('select rental_date from rental order by rental_date desc limit 1',con=connection)
print('Najnowsza data: \n', df)
#dlatego podany przedział sie nie wyswietla, ponieważ takie daty nie sa zawarte w danych.

Najnowsza data:
           rental_date
0 2006-02-14 15:16:03

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

6. Znajdź największą płatność wypożyczenia.

In [16]:
#Można to zadanie napisać w sposób następujący, gdzie usuwa duplikaty, kolumne sortuje od najwiekszej wartosci do najmniejszej i później wybiera jedynie pierwszy wiersz.
# df = pd.read_sql('select distinct amount from payment order by amount desc limit 1',con=connection)
# print('Największa płatność wypożyczenia: \n', df)

#Poniżej używam szybszej składni 'max()', która tak samo daje oczekiwany wynik.
df = pd.read_sql('select max(amount) from payment',con=connection)
print('Największa płatność wypożyczenia: \n', df)

Największa płatność wypożyczenia:
      max
0  11.99

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

7. Znajdź wszystkich klientów z Polski, Nigerii lub Bangladeszu.

In [17]:
#W tym programie wykorzystuje polecenie 'inner join' w celu łączenia się z innymi tabelami, następnie używam klauzule where w celu znalezienia zadanych klientów i sortuje kraje w odwrotnej kolejnosci do alfabetycznej aby dostać informacje najpierw o osobach z Polski, Nigerii i Bangladeszu.
df = pd.read_sql("""select customer.first_name,customer.last_name ,country.country from customer inner join address on customer.address_id = address.address_id inner join city on address.city_id = city.city_id inner join country on city.country_id = country.country_id
                where country in ('Poland', 'Nigeria', 'Bangladesh')
                order by country desc""",con=connection)
print('Wszyscy klienci z Polski, Nigerii i Bangladeszu: \n', df)

Wszyscy klienci z Polski, Nigerii i Bangladeszu:
    first_name  last_name     country
0        Leah     Curtis      Poland
1       Ruben      Geary      Poland
2      Jimmie  Eggleston      Poland
3      Sidney   Burleson      Poland
4     Russell    Brinson      Poland
5    Marjorie     Tucker      Poland
6     Johnnie   Chisholm      Poland
7       Brian      Wyman      Poland
8      Bertha   Ferguson     Nigeria
9      Tracey    Barrett     Nigeria
10         Jo     Fowler     Nigeria
11    Wallace      Slone     Nigeria
12  Constance       Reid     Nigeria
13     Rodney    Moeller     Nigeria
14      Velma      Lucas     Nigeria
15    Marilyn       Ross     Nigeria
16      Elsie     Kelley     Nigeria
17     Gladys   Hamilton     Nigeria
18      Carol     Garcia     Nigeria
19       Olga    Jimenez     Nigeria
20      Sonia    Gregory     Nigeria
21      Frank   Waggoner  Bangladesh
22    Stephen     Qualls  Bangladesh
23   Michelle      Clark  Bangladesh

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

8. Gdzie mieszkają członkowie personelu?

In [18]:
#W tym programie na podstawie biblioteki pandas, wykorzystuje pocelecenia podobnie jak w zadaniu poprzednim. Dzięki funkcji join inner znajduję wspólne kolumny w deklarowanych tabelach,
#w wyniku czego mam możliwość otrzymania rządanych informacji.
df = pd.read_sql("""select staff.first_name,staff.last_name, address.address, city.city, country.country
                from staff inner join address on staff.address_id = address.address_id inner join city on address.city_id = city.city_id inner join country on city.country_id = country.country_id""",con=connection)
print('Miejsca zamieszkania członkow personelu: \n', df)

Miejsca zamieszkania członkow personelu:
   first_name last_name               address        city    country
0       Mike   Hillyer     23 Workhaven Lane  Lethbridge     Canada
1        Jon  Stephens  1411 Lillydale Drive   Woodridge  Australia

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

9. Ilu pracowników mieszka w Argentynie lub Hiszpanii?

In [19]:
#To zadanie wykonuje analogicznie do zadania 7, zawierając odpowiednie dane, z tą różnicą, że używam polecenia 'or', które to pozwala mi na wybór 
#mieszkańców w Argentynie lub Hiszpanii
df = pd.read_sql("""select staff.first_name,staff.last_name, address.address, city.city, country.country
                from staff inner join address on staff.address_id = address.address_id inner join city on address.city_id = city.city_id inner join country on city.country_id = country.country_id
                where country in ('Argentina') or country in ('Spain')""",con=connection)
print('Członkowie zamieszkujacy w Argentynie lub Hiszpanii: \n', df)
print('\nBrak pracownikow mieszkajacych w Argentynie lub Hiszpanii')

Członkowie zamieszkujacy w Argentynie lub Hiszpanii:
 Empty DataFrame
Columns: [first_name, last_name, address, city, country]
Index: []

Brak pracownikow mieszkajacych w Argentynie lub Hiszpanii

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

10. Jakie kategorie filmów zostały wypożyczone przez klientów?

In [20]:
#To zadanie wykonuje analogicznie do 3 poprzednich z tą różnicą, że w tym przykładzie mogę pominąć tabele 'film' ze względu na kolumne 'film_id' zawartą również w 'film_category' jaki i 'inventory'. 
#Distinct - usuwa portórzenia
df = pd.read_sql("""select distinct category.name 
                from rental inner join inventory on rental.inventory_id = inventory.inventory_id inner join film_category on inventory.film_id = film_category.film_id inner join category on category.category_id = film_category.category_id
                """,con=connection)
print('Kategorie filmow wypozyczone przez klientow: \n', df)

Kategorie filmow wypozyczone przez klientow:
            name
0        Sports
1      Classics
2           New
3        Family
4        Comedy
5     Animation
6        Travel
7         Music
8         Drama
9        Horror
10       Sci-Fi
11        Games
12  Documentary
13      Foreign
14       Action
15     Children

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

11. Znajdź wszystkie kategorie filmów wypożyczonych w Ameryce.

In [21]:
#lista wszystkich krajów, w celu sprawdzenia krajów z Ameryk              
# dx = pd.read_sql("""select distinct country.country
#                 from country
                
#                 order by country asc""",con=connection)
# print('Kraje', dx)

#Skopiowalem poprzedni przyklad i oddzielolem go enterem
#W tym programie staruje od 'rental' gdzie najpierw dochodze do category
#a nastepna droge do country.name wybieram przez tablice customer(zapisana po enterze).
df = pd.read_sql("""select distinct category.name, country.country
                from rental 
                inner join inventory on rental.inventory_id = inventory.inventory_id 
                inner join film_category on inventory.film_id = film_category.film_id 
                inner join category on film_category.category_id = category.category_id
                
                inner join customer on rental.customer_id = customer.customer_id
                inner join address on customer.address_id = address.address_id
                inner join city on address.city_id = city.city_id
                inner join country on city.country_id = country.country_id
                where country.country in ('Virgin Islands, U.S.','Canada','United States','Mexico', 'Venezuela', 'Columbia', 'Peru', 'Brazil', 'Bolivia', 'Chile', 'Argentina')
                order by country asc""",con=connection)
                
#Kategorie w Stanach Zjednoczonych
dy = pd.read_sql("""select distinct category.name, country.country
                from rental 
                inner join inventory on rental.inventory_id = inventory.inventory_id 
                inner join film_category on inventory.film_id = film_category.film_id 
                inner join category on film_category.category_id = category.category_id
                
                inner join customer on rental.customer_id = customer.customer_id
                inner join address on customer.address_id = address.address_id
                inner join city on address.city_id = city.city_id
                inner join country on city.country_id = country.country_id
                where country.country in ('United States')
                order by country asc""",con=connection)

print('Kategorie filmow wypozyczone w Ameryce: \n', df)
print('\n\nKategorie filmow wypozyczone w Stanach Zjednoczonych: \n', dy)

Kategorie filmow wypozyczone w Ameryce:
           name               country
0       Sports             Argentina
1       Horror             Argentina
2       Comedy             Argentina
3       Family             Argentina
4       Travel             Argentina
..         ...                   ...
151   Children  Virgin Islands, U.S.
152     Sci-Fi  Virgin Islands, U.S.
153  Animation  Virgin Islands, U.S.
154      Drama  Virgin Islands, U.S.
155     Sports  Virgin Islands, U.S.

[156 rows x 2 columns]


Kategorie filmow wypozyczone w Stanach Zjednoczonych:
            name        country
0   Documentary  United States
1       Foreign  United States
2      Classics  United States
3         Drama  United States
4        Action  United States
5        Sports  United States
6        Sci-Fi  United States
7        Horror  United States
8         Games  United States
9        Comedy  United States
10       Family  United States
11     Children  United States
12       Travel  United States
13          New  United States
14    Animation  United States
15        Music  United States

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

12. Znajdź wszystkie tytuły filmów, w których grał: Olympia Pfeiffer lub Julia Zellweger lub Ellen Presley

In [22]:
#W tym programie wykorzystuje metode kodowania podobną do tej jak w poprzednich ćwiczeniach, jednak uwaględniam mozliwosci wyboru jedynie odpowiednich imion i nazwisk adekwatnych do polecenia.
df = pd.read_sql("""select film.title, actor.first_name, actor.last_name
                from actor 
                inner join film_actor on film_actor.actor_id = actor.actor_id
                inner join film on film.film_id = film_actor.film_id
                where actor.first_name = 'Olympia' and actor.last_name = 'Pfeiffer' or actor.first_name = 'Julia' and actor.last_name = 'Zellweger' or actor.first_name = 'Ellen' and actor.last_name = 'Presley'
                order by last_name asc""",con=connection)
                
print('Tytuly filmów w których gral Olympia Pfeiffer lub Julia Zellweger lub Ellen Presley: \n', df)

Tytuly filmów w których gral Olympia Pfeiffer lub Julia Zellweger lub Ellen Presley:
                 title first_name  last_name
0   Contact Anonymous    Olympia   Pfeiffer
1        Deep Crusade    Olympia   Pfeiffer
2    Effect Gladiator    Olympia   Pfeiffer
3      Express Lonely    Olympia   Pfeiffer
4   Firehouse Vietnam    Olympia   Pfeiffer
..                ...        ...        ...
64       Outlaw Hanky      Julia  Zellweger
65    Panky Submarine      Julia  Zellweger
66   Rider Caddyshack      Julia  Zellweger
67          Won Dares      Julia  Zellweger
68      Wyoming Storm      Julia  Zellweger

[69 rows x 3 columns]

C:\Users\marci\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(